n8n/income-tax-specialist.json
{
  "name": "income-tax-specialist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "income-tax-specialist",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "receive-query",
      "name": "Receive Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "income-tax-specialist"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst historyContext = (input.history || [])\n  .slice(-4)\n  .map(h => `${h.role}: ${h.content}`)\n  .join('\\n');\n\nreturn {\n  json: {\n    query: input.query || input.message || '',\n    conversation_id: input.conversation_id || 'default',\n    history_context: historyContext\n  }\n};"
      },
      "id": "prepare-query",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are a search query optimizer for Ghana tax legislation.\nGiven a user question, generate 2-3 search queries to find relevant legal sections.\nFocus on legal terminology and specific concepts.\nReturn ONLY a JSON array of strings."
            },
            {
              "type": "user",
              "content": "=User question: {{ $json.query }}\n\nReturn JSON array: [\"query1\", \"query2\", \"query3\"]"
            }
          ]
        }
      },
      "id": "expand-query",
      "name": "Expand Query",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [660, 300],
      "notesInFlow": true,
      "notes": "Optional: Generates alternative query phrasings"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Prepare Query').first().json;\nconst expansion = $input.first().json;\n\nlet queries = [input.query];\n\ntry {\n  let content = expansion.message?.content || expansion.content || expansion.text;\n  if (typeof content === 'string') {\n    content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const expanded = JSON.parse(content);\n    if (Array.isArray(expanded)) {\n      queries = [...queries, ...expanded.slice(0, 2)];\n    }\n  }\n} catch (e) {\n  // Keep just original query\n}\n\nreturn {\n  json: {\n    ...input,\n    search_queries: queries\n  }\n};"
      },
      "id": "parse-queries",
      "name": "Parse Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1100, 300],
      "notesInFlow": true,
      "notes": "OpenAI text-embedding-3-small"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM match_income_tax_documents(\n  '{{ JSON.stringify($json.data) }}'::vector(1536),\n  6\n)",
        "options": {}
      },
      "id": "search-income-tax-documents",
      "name": "Search Income Tax Documents",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 300],
      "notesInFlow": true,
      "notes": "Queries income_tax_documents table via match_income_tax_documents RPC"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Queries').first().json;\nconst results = $input.all();\n\nif (!results || results.length === 0) {\n  return {\n    json: {\n      ...input,\n      context: \"No relevant documents found in the knowledge base.\",\n      sources: [],\n      has_context: false\n    }\n  };\n}\n\nconst contextParts = results.map((r, i) => {\n  const doc = r.json;\n  return `\n[Source ${i + 1}]\nDocument: ${doc.act_name || 'Income Tax Documentation'}\nSection: ${doc.section_number || 'N/A'} - ${doc.section_title || 'N/A'}\nLocation: ${doc.breadcrumb || 'N/A'}\nRelevance: ${((doc.similarity || 0) * 100).toFixed(1)}%\n\nContent:\n${doc.content || ''}\n\nSummary:\n${doc.summary || 'No summary available'}\n---`;\n}).join('\\n');\n\nconst sources = results.map(r => ({\n  document: r.json.act_name || 'Income Tax Documentation',\n  section: `Section ${r.json.section_number || 'N/A'}`,\n  section_title: r.json.section_title || '',\n  breadcrumb: r.json.breadcrumb || '',\n  excerpt: (r.json.content || '').substring(0, 200) + '...',\n  similarity: r.json.similarity || 0\n}));\n\nreturn {\n  json: {\n    ...input,\n    context: contextParts,\n    sources: sources,\n    has_context: true\n  }\n};"
      },
      "id": "format-context",
      "name": "Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "type": "system",
              "content": "You are Kofi, an Income Tax specialist at the Ghana Revenue Authority.\n\nEXPERTISE:\n- Personal income tax and tax bands\n- Corporate income tax (25% standard rate)\n- PAYE (Pay As You Earn) for employers\n- Tax deductions and reliefs\n- Withholding taxes\n- Tax filing deadlines and returns\n\nCURRENT TAX BANDS (2024):\n- First GH₵4,380: 0%\n- Next GH₵1,320: 5%\n- Next GH₵1,560: 10%\n- Next GH₵36,000: 17.5%\n- Next GH₵196,740: 25%\n- Above GH₵240,000: 30%\n\nRULES:\n1. Answer ONLY using the provided context from official Ghana Income Tax legislation\n2. If the answer is NOT in the context, say: \"I don't have specific information about that in my Income Tax knowledge base. Please contact GRA at 0800-900-110.\"\n3. ALWAYS cite the specific Act and Section number\n4. Use simple, clear language\n5. Be helpful and encouraging\n\nCITATION FORMAT:\nUse: \"According to Section X of the Income Tax Act 2015...\" or \"[Income Tax Act 2015, Section X]\"\n\nIMPORTANT: Respond in English only. Translation is handled separately."
            },
            {
              "type": "user",
              "content": "=RETRIEVED CONTEXT:\n{{ $json.context }}\n\nCONVERSATION HISTORY:\n{{ $json.history_context }}\n\nUSER QUESTION:\n{{ $json.query }}\n\nProvide a helpful, accurate answer based on the retrieved context."
            }
          ]
        }
      },
      "id": "generate-answer",
      "name": "Generate Income Tax Answer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1760, 300],
      "notesInFlow": true,
      "notes": "Income Tax-specific system prompt"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Format Context').first().json;\nconst answer = $input.first().json;\nconst answerText = answer.message?.content || answer.content || answer.text || '';\n\nconst domain = 'income_tax';\n\n// Extract cited sources\nconst citedSources = [];\nconst sources = context.sources || [];\n\nfor (const source of sources) {\n  if (answerText.includes(source.section) || \n      answerText.includes(source.section_title) ||\n      answerText.includes(source.breadcrumb)) {\n    citedSources.push({\n      document: source.document,\n      section: source.section,\n      breadcrumb: source.breadcrumb,\n      excerpt: source.excerpt\n    });\n  }\n}\n\n// Include top sources if none explicitly cited\nif (citedSources.length === 0 && sources.length > 0) {\n  citedSources.push(...sources.slice(0, 2).map(s => ({\n    document: s.document,\n    section: s.section,\n    breadcrumb: s.breadcrumb,\n    excerpt: s.excerpt\n  })));\n}\n\n// Income Tax-specific follow-up suggestions\nconst followups = [\n  \"How do I calculate PAYE?\",\n  \"What deductions can I claim?\",\n  \"When is my tax return due?\"\n];\n\nreturn {\n  json: {\n    success: true,\n    response: {\n      text: answerText,\n      citations: citedSources,\n      domain: domain,\n      confidence: context.has_context ? Math.max(...sources.map(s => s.similarity || 0.5)) : 0.3,\n      suggested_followups: followups\n    }\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "content": "## Income Tax Specialist Workflow\n\nHandles Income Tax queries in English only.\nTranslation is handled by the Controller.\n\n**Flow:**\n1. Receive English query from Controller\n2. Expand query for better retrieval\n3. Generate embedding\n4. Search income_tax_documents table\n5. Format context for LLM\n6. Generate Income Tax-specific answer\n7. Format response with citations\n8. Return English response to Controller\n\n**Database:**\n- Table: income_tax_documents\n- Function: match_income_tax_documents(embedding, count)\n\n**Notes:**\n- All processing in English\n- Citations remain in English\n- Controller handles translation to user's language\n- Includes current tax bands in system prompt"
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 60]
    }
  ],
  "connections": {
    "Receive Query": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Expand Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Query": {
      "main": [
        [
          {
            "node": "Parse Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Queries": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Search Income Tax Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Income Tax Documents": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "Generate Income Tax Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Income Tax Answer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "Ghana" },
    { "name": "Chatbot" },
    { "name": "GRA" },
    { "name": "Income Tax" },
    { "name": "Specialist" }
  ]
}
